MupApps.MvvmCross.Plugins.TabletNavigation/Sample/MupApps.TabletNavigation.Sample.WindowsStore/SampleData/MailSampleDataSource/MailSampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Blend.SampleData.MailSampleDataSource" targetNamespace="Blend.SampleData.MailSampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MailSampleDataSource" type="tns:MailSampleDataSource" />
  <xs:complexType name="MailSampleDataSource">
    <xs:sequence>
      <xs:element name="Mail" type="tns:Mail" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Mail">
    <xs:attribute blend:Format="Email Address" name="From" type="xs:string" />
    <xs:attribute blend:Format="Email Address" name="To" type="xs:string" />
    <xs:attribute blend:Format="Date" name="Date" type="xs:string" />
    <xs:attribute name="Subject" type="xs:string" />
    <xs:attribute blend:FormatParameters="100,8" name="Body" type="xs:string" />
  </xs:complexType>
</xs:schema>