MupApps.MvvmCross.Plugins.ControlsNavigation/Sample/MupApps.ControlsNavigation.Sample.WindowsPhone/SampleData/FoldersSampleDataSource/FoldersSampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.FoldersSampleDataSource" targetNamespace="Expression.Blend.SampleData.FoldersSampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FoldersSampleDataSource" type="tns:FoldersSampleDataSource" />
  <xs:complexType name="FoldersSampleDataSource">
    <xs:sequence>
      <xs:element name="Folders" type="tns:Folders" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Folders">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="FoldersItem" type="tns:FoldersItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FoldersItem">
    <xs:attribute blend:FormatParameters="2,8" name="Name" type="xs:string" />
  </xs:complexType>
</xs:schema>