MupApps.MvvmCross.Plugins.ControlsNavigation/Sample/MupApps.ControlsNavigation.Sample.WindowsStore/SampleData/MailsSampleDataSource/MailsSampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Blend.SampleData.MailsSampleDataSource" targetNamespace="Blend.SampleData.MailsSampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MailsSampleDataSource" type="tns:MailsSampleDataSource" />
  <xs:complexType name="MailsSampleDataSource">
    <xs:sequence>
      <xs:element name="Mails" type="tns:Mails" />
      <xs:element name="Folder" type="tns:Folder" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Mails">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="MailsItem" type="tns:MailsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MailsItem">
    <xs:attribute blend:Format="Email Address" name="From" type="xs:string" />
    <xs:attribute blend:Format="Email Address" name="To" type="xs:string" />
    <xs:attribute blend:Format="Date" name="Date" type="xs:string" />
    <xs:attribute name="Subject" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Folder">
    <xs:attribute blend:FormatParameters="2,8" name="Name" type="xs:string" />
  </xs:complexType>
</xs:schema>